body {
	font-family: calisto, serif;
	background: url(/images/background_image_plaid.jpg);
	background-size: cover;
	background-position: fixed;
	text-align: center;
	margin: 40px auto;
	padding: 0 1em;
	max-width: 70.75em;

	h1 {
		font-family: trebuchet, sans-serif;
	}
	h2 {
		text-align: center!important;
	}
	header img {
		width: 70.75%;
	}
	section {
		background-color: #ffffff;
		border: 5px solid #003876;
		border-radius: 20px;
		margin: 20px;
    padding: 30px;
	}
	.grid {
		display: grid;
		grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
	}
	.step1 {
		grid-column: 1;
    grid-row: 1;
	}
	.step2 {
		grid-column: 1;
		grid-row: 2;
	}
	.step3 {
		grid-column: 1;
		grid-row: 3;
	}
	.step4 {
		grid-column: 1;
		grid-row: 4;
	}
	.step5 {
		grid-column: 1;
		grid-row: 5;
	}
	.step1 {
		grid-column: 1;
		grid-row: 6;
	}
	.ebooks {
		grid-column: 2;
		float: right;
		padding: 30px;
	}
	ol {
		text-align: left;
	}
}
